<ion-view class="loginBg" >
	
  	<ion-content class="padding main">
  		<div class="list">

		    <a class="item item-avatar" href="#/app/login/3">
		      <img src="img/search.png">
		      <h2>Vou retirar na loja</h2>
		      <p>Localize o ponto de venda mais próximo</p>
		    </a>
		    <a class="item item-avatar" href="#/app/payments">
		      <img src="img/delivery.png">
		      <h2>Quero que me entregue</h2>
		      <p>Faça login e lhe entregaremos</p>
		    </a>

		</div>
  	</ion-content>
  	
</ion-view>
