<ion-view class="loginBg" >
	
  	<ion-content class="padding main">

  		<div class="list">

		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">Nome</span>
		    	<input type="text" placeholder="Digite seu nome aqui." ng-model="newUserCtrl.user.name">
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">CPF</span>
		    	<input type="text" placeholder="Digite o endereço completo" ng-model="newUserCtrl.user.cpf">
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">Endereço</span>
		    	<input type="text" placeholder="Digite o endereço completo" ng-model="newUserCtrl.user.address">
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">Telefone de Contato</span>
		    	<input type="tel" placeholder="Digite seu telefone aqui" ng-model="newUserCtrl.user.phone">
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">E-mail</span>
		    	<input type="email" placeholder="Digite seu e-mail aqui" ng-model="newUserCtrl.user.user">
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">Senha</span>
		    	<input type="password" placeholder="Digite sua senha aqui" ng-model="newUserCtrl.user.password">
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">Confirmação de Senha</span>
		    	<input type="password" placeholder="Repita sua senha aqui" ng-model="newUserCtrl.confirmPassword">
		  	</label>
		  	
		</div>

		<button class="button button-block button-positive" ng-click="newUserCtrl.save()">
		  	Salvar
		</button>

  	</ion-content>
  	
</ion-view>
