<ion-view class="loginBg">
	
  	<ion-content class="padding main">
  		
  		<div class="list card" ng-repeat="product in pOrdersCtrl.order.products track by $index">

		  	<div  class="item item-avatar">
		    	<img src="{{product.logo}}" style="background-color: white;">
		    	<h2>{{product.name}}</h2>
		    	<p>{{product.menu.name}}</p>
		    	<span class="badge badge-assertive">{{product.value_total}}</span>
		 	</div>

		 	<div class="item item-body">
		 		<p>{{product.name}} <br /> {{product.menu.name}} <br />Qtde: {{product.quantity}}</p>
		 		<p ng-show="product.obs">Obs: {{product.obs}}</p>
		 		<p ng-show="product.options.length > 0"><b>Opções: </b>
					<additional ng-repeat="option in product.options">
						{{option.name}} <br />
					</additional>
				<p>
				<p ng-show="product.hasAdditional"><b>Itens adicionais:</b></p>
				<p ng-show="product.hasAdditional">
					<additional ng-repeat="additional in product.additionals">
						{{additional.name}} - {{additional.value}}<br />
					</additional>
				<p>
			</div>
		  
		</div>

  	</ion-content>

</ion-view>
